@font-face {
    font-family: Righteous;
    src: local("Righteous"), url("../fonts/Righteous/Righteous-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu Bold;
    src: local("Ubuntu Bold"), url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Ubuntu Medium;
    src: local("Ubuntu Medium"), url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: local("Ubuntu"), url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu';
    background: radial-gradient(#0b366d 24%, #061c3a) no-repeat;
    color: #0B366D;
}

.floatable {
    position: fixed;
}

#movieArea {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 1.6em;
    column-gap: 1.6em;
}

img.poster {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    transition-duration: 600ms;
}

img.poster:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

#backdrop {
    display: flex;
    box-shadow: inset 0 0 0 100vh rgba(96, 136, 188, 0.84);
    background-size: cover;
}

#poster {
    /* border: 2px dashed white; */
    margin: 28px;
    width: 38%;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#movie-infos {
    /* border: 2px dashed white; */
    position: static;
    margin-left: 42%;
    margin-right: 4px;
    width: 100%;
}

h1 {
    /* border: 2px dashed white; */
    display: block;
    margin-top: 1.6em;
    text-align: center;
}

#title {
    margin-right: 0.4em;
    font-family: 'Ubuntu Bold';
    line-height: 1em;
}

#release_date {
    font-family: 'Righteous';
    font-size: 70%;
    font-weight: lighter;
}

#production {
    display: block;
    margin: 0 auto;
    height: 1.8em;
}

#genres {
    /* border: 2px dashed white; */
    font-family: 'Ubuntu Medium';
}

#director {
    /* border: 2px dashed white; */
}

#director_name {
    font-family: 'Ubuntu Medium';
}

table {
    margin: 2em auto;
    padding: 0.6em;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #0B366D;
    border-radius: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

th {
    font-family: 'Ubuntu Medium';
    font-size: large;
}

td {
    text-align: center;
    font-size: medium;
}

h2 {
    font-family: 'Ubuntu Medium';
}

#overview {
    text-align: justify;
}

#navigation {
    /* border: 2px dashed white; */
    display: block;
    position: relative;
    margin-right: 10px;
    width: 10%;
}

#navigation a {
    /* border: 2px dashed white; */
    display: block;
    display: absolute;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #0b366dbd;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#navigation a,
i {
    position: absolute;
    top: 50%;
    /* poussé de la moitié de hauteur de viewport */
    left: 50%;
    transform: translate(-50%, -50%);
    /* tiré de la moitié de sa propre hauteur */
    text-align: center;
    color: #E5E5E5;
}

footer {
    position: absolute;
    padding-bottom: 0.2%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Righteous';
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #movieArea {
        grid-template-columns: repeat(4, 1fr);
    }

    img.poster {
        height: 330px;
    }

    #poster {
        width: 34%;
    }
    
    #movie-infos {
        position: static;
        margin-left: 40%;
    }
}